Repository hmcts/ccd-user-profile-api, pull requests merged in 2019-08, with the labels that each got.

#198 RDM-5499 - handling duplicate / existing user scenario.
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/resources/db/changelog/db.changelog-RDM-5499.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpointIT.java
Labels: ns:ccd-user-profile-api-pr-198

#199 RDM-5498 - rd_professional_api as S2S authorised service.
  charts/ccd-user-profile-api/values.template.yaml
  infrastructure/variables.tf
  src/main/resources/application.properties
Labels: ns:ccd-user-profile-api-pr-199

#202 fix failing build
  dependency-check-suppressions.xml
Labels: ns:ccd-user-profile-api-pr-202

#201 Preview helm chart
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/requirements.yaml
  charts/ccd-user-profile-api/templates/NOTES.txt
  charts/ccd-user-profile-api/values.aat.template.yaml
  charts/ccd-user-profile-api/values.preview.template.yaml
  charts/ccd-user-profile-api/values.template.yaml
  charts/ccd-user-profile-api/values.yaml
Labels: ns:ccd-user-profile-api-pr-201

#203 RDM-5680 -updated java base image
  Dockerfile
  hub.Dockerfile
Labels: ns:ccd-user-profile-api-pr-203

#205 RDM-5730-Fix as per deprecated changes in cnp_jenkins lib- ref:https://gi…
  Jenkinsfile_CNP
  infrastructure/main.tf
  infrastructure/outputs.tf
  src/main/resources/bootstrap.yaml
Labels: ns:ccd-user-profile-api-pr-205
