Repository hmcts/ccd-user-profile-api, pull requests merged in 2019-06, with the labels that each got.

#193 removing no longer needed INFO logging
  src/main/java/uk/gov/hmcts/ccd/domain/service/FindUserProfileOperation.java
Labels: ns:ccd-user-profile-api-pr-193

#194 Update Chart.yaml
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/requirements.yaml
Labels: ns:ccd-user-profile-api-pr-194

#195 Delete requirements.lock
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/requirements.lock
Labels: ns:ccd-user-profile-api-pr-195
