Repository hmcts/ccd-user-profile-api, pull requests merged in 2019-11, with the labels that each got.

#218 CVE fixes - bump jackson version
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-user-profile-api-pr-218

#219 Bump java base chart
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/requirements.yaml
Labels: ns:ccd-user-profile-api-pr-219

#217 Moving to hmcts version of liquibase which performs better DB locking
  build.gradle
  liquibase.gradle
  src/main/java/uk/gov/hmcts/ccd/UserProfileApplication.java
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/TestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepositoryTest.java
  src/test/resources/test.properties
Labels: ns:ccd-user-profile-api-pr-217

#222 indentation of the condition needs to inside the base chart
  charts/ccd-user-profile-api/values.preview.template.yaml
Labels: ns:ccd-user-profile-api-pr-222

#223 Revert "Moving to hmcts version of liquibase which performs better DB locking"
  build.gradle
  liquibase.gradle
  src/main/java/uk/gov/hmcts/ccd/UserProfileApplication.java
  src/test/java/uk/gov/hmcts/ccd/BaseTest.java
  src/test/java/uk/gov/hmcts/ccd/data/TestConfiguration.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepositoryTest.java
  src/test/resources/test.properties
Labels: ns:ccd-user-profile-api-pr-223

#220 RDM-5533 Disable X-Powered-By header
  build.gradle
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/requirements.yaml
  charts/ccd-user-profile-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  web.config
Labels: ns:ccd-user-profile-api-pr-220
