Repository hmcts/ccd-user-profile-api, pull requests merged in 2020-02, with the labels that each got.

#245 Release cut 17.1
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/domain/service/FindUserProfileOperation.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpointIT.java
Labels: ns:ccd, rel:ccd-user-profile-api-pr-245

#247 RDM-7554 Remove the deprecated enableDockerBuild
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-user-profile-api-pr-247

#249 RDM-7577
  build.gradle
  charts/ccd-user-profile-api/values.preview.template.yaml
Labels: ns:ccd, rel:ccd-user-profile-api-pr-249

#252 RDM-6946 Implement Functional Tests for 'CCD User Profile Api :: GET /users' operation
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileBeftaMain.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestDataLoader.java
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/F-097/F-097.feature
  src/aat/resources/features/F-097/F-097_Test_Data_Base.td.json
  src/aat/resources/features/F-097/S-424.td.json
  src/aat/resources/features/F-097/S-467.td.json
  src/aat/resources/features/F-097/S-504.td.json
  src/aat/resources/features/F-097/Standard_User_Profiles_Creation_Data.td.json
  src/aat/resources/features/common/response/User_Profile_Common_200_Response.td.json
  src/aat/resources/features/common/response/User_Profile_Common_403_Response.td.json
  src/aat/resources/features/common/response/header/User_Profile_Common_200_Response_Headers.td.json
  src/aat/resources/features/common/response/header/User_Profile_Common_403_Response_Headers.td.json
  src/aat/resources/features/common/response/header/User_Profile_Common_Response_Headers.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/UserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileController.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpoint.java
Labels: enhancement, ns:ccd, rel:ccd-user-profile-api-pr-252

#253 upgrade to befta fw 1.1.1
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-user-profile-api-pr-253
