Repository hmcts/ccd-user-profile-api, pull requests merged in 2020-11, with the labels that each got.

#328 Revert UserProfileAuditEntity/liquibase changes
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileAuditEntity.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-328

#309 RDM-9551-TF
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-309

#322 Release cut 20.1
  .github/workflows/swagger.yml
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  config/checkstyle/checkstyle.xml
  config/pmd/rulesets.xml
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestDataLoader.java
  src/aat/resources/features/F-000/F-000.feature
  src/main/java/uk/gov/hmcts/ccd/UserProfileApplication.java
  src/main/java/uk/gov/hmcts/ccd/data/jurisdiction/JurisdictionMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileLightEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofilejurisdiction/UserProfileJurisdictionEntity.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/CreateUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/DeleteUserProfileJurisdictionOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/FindUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/SaveUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/UserProfileOperation.java
  src/main/resources/db/changelog/db.changelog-RDM-10028.xml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/DeleteUserProfileJurisdictionOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/SaveUserProfileOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpointIT.java
  src/test/java/uk/gov/hmcts/ccd/swagger/SwaggerPublisher.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-322

#224 Update Develop with Master
  build.gradle
Labels: Do NOT Merge, ns:ccd, ns:ccd-user-profile-api-pr-224, prd:ccd, rel:ccd-user-profile-api-pr-224

#332 Rdm 9052
  build.gradle
  liquibase.gradle
  src/main/resources/db/changelog/db.changelog-RDM-9052.xml
  src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-332

#338 Rdm 10197
  build.gradle
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/values.yaml
  src/aat/resources/features/F-000/S-000.td.json
  src/main/java/uk/gov/hmcts/ccd/auth/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ReadinessHealthIndicator.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-338

#343 Release cut demo deployment fix
  charts/ccd-user-profile-api/values.yaml
  liquibase.gradle
  src/main/java/uk/gov/hmcts/ccd/AliasWebConfig.java
  src/main/java/uk/gov/hmcts/ccd/auth/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/DeleteUserProfileJurisdictionOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/SaveUserProfileOperation.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-343

#337 Adding files for RDM-8934-test Data re execution
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  liquibase.gradle
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestDataLoader.java
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/F-097/S-504.td.json
  src/main/java/uk/gov/hmcts/ccd/AliasWebConfig.java
  src/main/java/uk/gov/hmcts/ccd/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/auth/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ReadinessHealthIndicator.java
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-337

#339 Release cut 20.2.0
  build.gradle
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/values.yaml
  liquibase.gradle
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/F-097/S-504.td.json
  src/main/java/uk/gov/hmcts/ccd/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/auth/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/DeleteUserProfileJurisdictionOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/SaveUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/ReadinessHealthIndicator.java
  src/main/resources/application.properties
  src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-339

#342 RDM 9580
  src/main/java/uk/gov/hmcts/ccd/TransactionConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileController.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpoint.java
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-342

#341 RDM-10294 Fix All Recent CVEs in All CCD Apps
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-341
