Repository hmcts/ccd-user-profile-api, pull requests merged in 2020-03, with the labels that each got.

#255 Build issue diagnosis
  build.gradle
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/smoke/SmokeTest.java
Labels: ns:ccd, rel:ccd-user-profile-api-pr-255

#246 Spring boot upgrade 2.2.4.RELEASE
  build.gradle
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/smoke/SmokeTest.java
  src/aat/resources/features/F-000/S-000.td.json
  src/main/resources/application.properties
Labels: ns:ccd, rel:ccd-user-profile-api-pr-246

#259 bump up dependency versions for cve remediation
  build.gradle
  src/aat/resources/features/F-000/S-000.td.json
Labels: ns:ccd, rel:ccd-user-profile-api-pr-259

#263 RDM-7908-CVEs
  build.gradle
Labels: ns:ccd, rel:ccd-user-profile-api-pr-263

#262 RDM-7899-Slack
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-user-profile-api-pr-262

#256 Release cut 17.2
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-user-profile-api/Chart.yaml
  dependency-check-suppressions.xml
  infrastructure/outputs.tf
  lib/befta-fw-1.0.9-SNAPSHOT.jar
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileBeftaMain.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestDataLoader.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/AATHelper.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/smoke/SmokeTest.java
  src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/F-097/F-097.feature
  src/aat/resources/features/F-097/F-097_Test_Data_Base.td.json
  src/aat/resources/features/F-097/S-424.td.json
  src/aat/resources/features/F-097/S-467.td.json
  src/aat/resources/features/F-097/S-504.td.json
  src/aat/resources/features/F-097/Standard_User_Profiles_Creation_Data.td.json
  src/aat/resources/features/common/response/User_Profile_Common_200_Response.td.json
  src/aat/resources/features/common/response/User_Profile_Common_403_Response.td.json
  src/aat/resources/features/common/response/header/User_Profile_Common_200_Response_Headers.td.json
  src/aat/resources/features/common/response/header/User_Profile_Common_403_Response_Headers.td.json
  src/aat/resources/features/common/response/header/User_Profile_Common_Response_Headers.td.json
  src/main/java/uk/gov/hmcts/ccd/domain/service/UserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileController.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpoint.java
  src/main/resources/application.properties
Labels: ns:ccd, rel:ccd-user-profile-api-pr-256

#264 RDM-7901 (on master) Performance bug in User Profile API causing downtime
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileLightEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofilejurisdiction/UserProfileJurisdictionEntity.java
  src/main/java/uk/gov/hmcts/ccd/domain/model/UserProfileLight.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/FindAllUserProfilesOperation.java
  src/main/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileController.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/FindAllUserProfilesOperationTest.java
Labels: ns:ccd, rel:ccd-user-profile-api-pr-264

#268 enable temporarily disabled tests
  src/aat/resources/features/F-097/F-097.feature
Labels: ns:ccd, rel:ccd-user-profile-api-pr-268

#254 RDM-7740-swagger-test
  .github/workflows/swagger.yml
  src/test/java/uk/gov/hmcts/ccd/swagger/SwaggerPublisher.java
Labels: ns:ccd, rel:ccd-user-profile-api-pr-254

#258 RDM-7867-Update-base-chart
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/requirements.yaml
Labels: ns:ccd, rel:ccd-user-profile-api-pr-258

#271 Terraform cleanup
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/variables.tf
Labels: ns:ccd, rel:ccd-user-profile-api-pr-271
