Repository hmcts/ccd-user-profile-api, pull requests merged in 2020-09, with the labels that each got.

#303 suppress temporarily
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-303

#305 upgrade to latest fw version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-305

#307 Rdm 9115
  .gitignore
  build.gradle
  config/checkstyle/checkstyle.xml
  config/pmd/ruleset.xml
  config/pmd/rulesets.xml
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestDataLoader.java
  src/main/java/uk/gov/hmcts/ccd/UserProfileApplication.java
  src/main/java/uk/gov/hmcts/ccd/data/jurisdiction/JurisdictionMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileLightEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileMapper.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/ccd/data/userprofilejurisdiction/UserProfileJurisdictionEntity.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/swagger/SwaggerPublisher.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-307

#304 Adding a fix for CVE-2017-18640
  Jenkinsfile_CNP
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-304

#311 Fix All Temporarily Suppressed CVEs +develop
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileAuditEntity.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-311

#297 RDM-9250: Identify and remove PII (Personally Identifiable Information) from CCD logs
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/CreateUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/DeleteUserProfileJurisdictionOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/FindUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/SaveUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/UserProfileOperation.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/DeleteUserProfileJurisdictionOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/domain/service/SaveUserProfileOperationTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-297

#314 Removing Health checks scenario as smoke tests
  src/aat/resources/features/F-000/F-000.feature
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-314

#302 Release cut 19.2
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileBeftaMain.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestDataLoader.java
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/F-097/F-097.feature
  src/aat/resources/features/F-097/F-097_Test_Data_Base.td.json
  src/aat/resources/features/F-097/S-424.td.json
  src/aat/resources/features/F-097/S-467.td.json
  src/aat/resources/features/F-097/S-504.td.json
  src/aat/resources/features/F-097/Standard_User_Profiles_Creation_Data.td.json
  src/aat/resources/features/common/response/header/User_Profile_Common_Response_Headers.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-302
