Repository hmcts/ccd-user-profile-api, pull requests merged in 2020-08, with the labels that each got.

#292 Release cut 19.1
  .gitignore
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/AATExtension.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/AATHelper.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/BaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/functional/UserProfileTest.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/helper/S2SHelper.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/smoke/SmokeTest.java
  src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
  src/aat/resources/DummyTest.xml
  src/aat/resources/features/F-097/F-097.feature
  src/aat/resources/features/F-097/F-097_Test_Data_Base.td.json
  src/main/java/uk/gov/hmcts/ccd/repository/PostgreSQLEnumType.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-292

#296 enhance pipeline logic per build type
  Jenkinsfile_CNP
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-296

#300 RDM-9281 Format Test JSON Data Files - User Profile
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
  src/aat/resources/features/F-097/F-097.feature
  src/aat/resources/features/F-097/F-097_Test_Data_Base.td.json
  src/aat/resources/features/F-097/S-424.td.json
  src/aat/resources/features/F-097/S-467.td.json
  src/aat/resources/features/F-097/S-504.td.json
  src/aat/resources/features/F-097/Standard_User_Profiles_Creation_Data.td.json
  src/aat/resources/features/common/response/header/User_Profile_Common_Response_Headers.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-300

#301 RDM 9342
  .gitignore
  Jenkinsfile_CNP
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-301
