Repository hmcts/ccd-user-profile-api, pull requests merged in 2020-07, with the labels that each got.

#290 RDM-8788 - Java 11 upgrade
  .travis.yml
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/uk/gov/hmcts/ccd/repository/PostgreSQLEnumType.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-290

#289 archive cucumber artefacts after smoke tests
  Jenkinsfile_CNP
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-289

#293 use latest stable release of fw
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/AATExtension.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/AATHelper.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/BaseTest.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/functional/UserProfileTest.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/helper/S2SHelper.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/tests/smoke/SmokeTest.java
  src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
  src/aat/resources/DummyTest.xml
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-293

#294 CCD Apps Not Working Develop-to-Develop on Preview
  Jenkinsfile_CNP
  build.gradle
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileBeftaMain.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestAutomationAdapter.java
  src/aat/java/uk/gov/hmcts/ccd/userprofile/befta/UserProfileTestDataLoader.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-294

#287 Rdm 8784 helm renovate
  .github/renovate.json
  charts/ccd-user-profile-api/Chart.yaml
  charts/ccd-user-profile-api/requirements.yaml
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-287
