Repository hmcts/ccd-user-profile-api, pull requests merged in 2021-02, with the labels that each got.

#345 RDM-10196 Improve readiness checks
  src/main/resources/application.properties
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-345

#324 RDM-8898: Removed credentials
  charts/ccd-user-profile-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-324

#360 Rdm 7709 7707
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/SaveUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/UserProfileOperation.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-360

#361 Rdm 7709 7707 PR
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/SaveUserProfileOperation.java
  src/main/java/uk/gov/hmcts/ccd/domain/service/UserProfileOperation.java
  src/test/java/uk/gov/hmcts/ccd/data/userprofile/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/ccd/endpoint/userprofile/UserProfileEndpointIT.java
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-361

#366 RDM-11086 Upgrade to Postgres 11 on PerfTest
  infrastructure/main.tf
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-366

#367 RDM-11089 Upgrade to Postgres 11 on ITHC
  infrastructure/main.tf
Labels: ns:ccd, prd:ccd, rel:ccd-user-profile-api-pr-367
